<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SummerEditor</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/jqueryui/themes/base/theme.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/theme.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/elfinder/css/elfinder.full.css" rel="stylesheet" />
    <link href="~/lib/elfinder/css/elfinder.full.min.css" rel="stylesheet" />
    <link href="~/lib/elfinder/css/theme.css" rel="stylesheet" />
    <link href="~/lib/elfinder/css/theme.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>

    <body class="h-100"> 
        <main role="main" class="h1-100">
            @RenderBody()
        </main>
        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>
