@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<textarea id="summernote_editor">

</textarea>   
<script src="~/lib/summernote/summernote-bs5.min.js"></script>
<link rel="stylesheet" href="~/lib/summernote/summernote-bs5.min.css"/>
<script>

    
    $(document).ready(function(){

        $('#summernote_editor').summernote({       
            height: 200,
            toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });        
    });
</script>

